<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/coffee-cup.png" type="image/x-icon">
    <link rel="stylesheet" href="create.css">
    <link rel="Shortcut icon" href="/assets/logo1.jpg">
    <title>Create</title>
</head>

<body>
    <div class="img-background">
        <img src="/assets/wallpaperflare.com_wallpaper (1).jpg">
    </div>

    <div class="form-container">
        <div class="form-header">
            <h1>Tạo truyện mới</h1>
        </div>
        <form>
            <div class="form-content">
                <div class="form-column">
                    <div class="form-group">
                        <label for="tieuDe">Tiêu Đề</label>
                        <input type="text" id="tieuDe" name="tieuDe" required>
                    </div>
                    <div class="form-group">
                        <label for="theLoai">Thể Loại</label>
                        <input type="text" id="theLoai" name="theLoai" required>
                    </div>
                    <div class="form-group">
                        <label for="tacGia">Tác Giả</label>
                        <input type="text" id="tacGia" name="tacGia" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-group">
                        <label for="moTa">Mô Tả</label>
                        <textarea id="moTa" name="moTa" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="trangThai">Trạng Thái</label>
                        <input type="text" id="trangThai" name="trangThai" required>
                    </div>
                </div>
            </div>
            <div class="file-input">
                <input type="file" id="fileInput">
                <label for="fileInput">Chọn tệp</label>
            </div>
            <button type="submit" class="btn-submit">Tạo mới</button>
        </form>
    </div>
</body>