<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./frontend/assets/coffee-cup.png" type="image/x-icon">
    <link rel="stylesheet" href="forgot.css">
    <link rel="Shortcut icon" href="/frontend/assets/logo1.jpg">
    <title>Forgot-password | TRUYENHAY</title>
</head>

<div class="video-background">
    <video autoplay muted loop id="background-video">
        <source src="/frontend/assets/japan-summer-train-moewalls-com.mp4" type="video/mp4">
    </video>
</div>

<body>
    <div class="container">
        <div class="logo">
            <img src="/frontend/assets/logo1.jpg" alt="Logo">
            <span>Quên mật khẩu</span>
        </div>

        <form>
            <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" id="email" placeholder="email@example.com">
            </div>
            <a href="/frontend/componets/reset password.html">Khôi phục mật khẩu</a>
        </form>
        
        <div class="signup-link">
            Bạn không có tài khoản? <a href="/frontend/componets/signup.html">Đăng ký</a>
        </div>
    </div>
</body>