<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/coffee-cup.png" type="image/x-icon">
    <link rel="stylesheet" href="login.css">
    <link rel="Shortcut icon" href="/assets/logo1.jpg">
    <title>Login | TRUYENHAY</title>
</head>

<body>
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="/assets/japan-summer-train-moewalls-com.mp4" type="video/mp4">
        </video>
    </div>

    <div class="container">
        <div class="left-panel">
            <video class="tiktok-video" loop autoplay muted>
                <source src="/assets/Download.mp4" type="video/mp4">
            </video>
        </div>
        
        <div class="right-panel">
            <div class="logo">
                <img src="/assets/logo1.jpg" alt="logo">
            </div>
            <h2>Đăng Nhập</h2>
            <p>Đăng nhập tài khoản của bạn</p>
            <form>
                <input type="email" placeholder="Email address" required>
                <input type="password" placeholder="Password" required>
                <div class="forgot-password">
                    <a href="/components/forgot.html">Quên mật khẩu?</a>
                </div>
                <a href="/index.html">Đăng nhập</a>
            </form>

            <div class="social-login">
                <a href="#" class="social-btn">
                    <img src="/assets/search.png" alt="Google">
                    Google
                </a>
                <a href="#" class="social-btn">
                    <img src="/assets/facebook.png" alt="Facebook">
                    Facebook
                </a>
            </div>
            <div class="signup-link">
                <p>Bạn không có tài khoản? <a href="signup.html">Đăng ký</a></p>
            </div>
        </div>
    </div>
</body>



</html>