body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

#background-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.container {
    display: flex;
    position: absolute;
    top: 3%;
    left: 20%;
    background-color: rgba(111, 111, 111, 0.421);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    overflow: hidden;
    width: 890px;
    height: 650px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.left-panel {
    background-color: #fc4748;
    color: white;
    padding: 40px;
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tiktok-video {
    margin-top: 60px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.right-panel {
    padding: 40px;
    background-color: rgba(49, 49, 49, 0.421);
    backdrop-filter: blur(50px);
    width: 50%;
}

.logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    border-radius: 50%;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
    font-size: 1.8em;
}

p {
    color: #ccc;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    color: white;
    border: 3px solid #ccc;
    background-color: rgba(49, 49, 49, 0.421);
    backdrop-filter: blur(50px);
    border-radius: 20px;
}

input:focus {
    border: 3px solid #fc4748;
    color: #ffffff;
}

.forgot-password {
    margin-left: 65%;
    margin-bottom: 10px;
}

.forgot-password a {
    color: #fc4748;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login {
    font-size: 15px;
}

a[href="/index.html"] {
    background-color: #fc4748;
    color: white;
    padding: 14px;
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    font-weight: 550;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

a[href="/index.html"]:hover {
    background-color: #f0f0f0;
    opacity: 0.9;
    color: black;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-btn {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 550;
    justify-content: center;
}

.social-btn img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social-btn:hover {
    background-color: #f0f0f0;
    color: #000000;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    color: #ccc;
    font-size: 14px;
}

.signup-link a {
    color: #fc4748;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}
