body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;

}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
#background-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(49, 49, 49, 0.421);
    backdrop-filter: blur(50px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 20px;
}
.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}
.logo span {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}
form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ccc;
    display: block;
}
input {
    padding: 12px;
    outline: none;
    color: white;
    border: 3px solid #ccc;
    transition: 200ms;
    width: 93%;
    background-color: rgba(49, 49, 49, 0.421);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    font-size: 16px;
}
input:focus{
    border: 3px solid #fc4748;
    color: #ffffff;
}
a[href="/components/login.html"] {
    background-color: #fc4748;
    color: white;
    padding: 14px;
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    font-weight: 550;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}
a[href="/components/login.html"]:hover{
    background-color: #f0f0f0;
    opacity: 0.9;
    color: black;
}
.login-link {
    text-align: center;
    margin-top: 20px;
    color: #ddd;
    font-size: 14px;
}
.login-link a {
    color: #fc4748;
    text-decoration: none;
    font-weight: bold;
}
.login-link a:hover{
    text-decoration: underline;
}

