<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/coffee-cup.png" type="image/x-icon">
    <link rel="stylesheet" href="resetpasseword.css">
    <link rel="Shortcut icon" href="/assets/logo1.jpg">
    <title>Reset-password | TRUYENHAY</title>
</head>

<div class="video-background"></div>
<video autoplay muted loop id="background-video">
    <source src="/assets/japan-summer-train-moewalls-com.mp4" type="video/mp4">
</video>
</div>

<body>
    <div class="container">
        <div class="logo">
            <img src="/assets/logo1.jpg" alt="Logo">
            <span>Quên mật khẩu</span>
        </div>
        <form>
            <div class="form-group">
                <label for="code">Code</label>
                <input type="text" id="code">
            </div>

            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password">
            </div>

            <a href="/components/login.html">Khôi phục mật khẩu</a>
        </form>

        <div class="login-link">
            Bạn đã có tài khoản! <a href="login.html">Đăng nhập</a>
        </div>
    </div>
</body>

</html>