<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <link rel="shortcut icon" href="/assets/logo1.jpg" type="image/x-icon">
    <title>SignUp | TRUYENHAY</title>
</head>

<body>
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="/assets/japan-summer-train-moewalls-com.mp4" type="video/mp4">
        </video>
    </div>

    <div class="container">
        <div class="form-section">
            <div class="logo">
                <img src="/assets/logo1.jpg" alt="Logo">
                <span>Đăng Ký</span>
            </div>
            <p>Đăng ký tài khoản của bạn</p>
            <form>
                <label for="name">Name *</label>
                <input type="text" id="name" placeholder="abc" required>

                <label for="email">Email Address *</label>
                <input type="email" id="email" placeholder="email@example.com" required>

                <label for="password">Password *</label>
                <input type="password" id="password" placeholder="••••••••" required>

                <a href="/components/login.html">Tạo tài khoản</a>
            </form>
            <div class="social-login">
                <a href="#" class="social-btn">
                    <img src="/assets/search.png" alt="Google">
                    Google
                </a>
                <a href="#" class="social-btn">
                    <img src="/assets/facebook.png" alt="Facebook">
                    Facebook
                </a>
            </div>
            <div class="login-link">
                Bạn đã có tài khoản! <a href="login.html">Đăng nhập</a>
            </div>
        </div>
        <div class="right-panel">
            <video class="tiktok-video" loop autoplay muted>
                <source src="/assets/waifu.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</body>



</html>